<!DOCTYPE html>
<html lang="en">
<head>
  <title>Arjun Salwan</title>
  <style>
    body{
        background-image: url('static/websitecar.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      h1{
        font-size: 25px;
          text-align: center;
        color: rgb(245,245,245)
      }
      p{
        text-align: center;
        color: rgb(245,245,245)
      }
    }
  </style>
</head>
<body>
  <h1>I am Arjun Salwan</h1>
  <p>Hello, I'm Arjun Salwan, an electrical engineering student at Punjab Engineering College. Beyond the textbooks, I find my stride on the tennis court. Beyond my love for sports, my interests extend to being a car enthusiast and an admirer of fighter planes. </p>
  
 
   

</body>

</html>
